<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project</title>
    <link rel="stylesheet" href="/styles/accountcreate.css">
    
  </head>
  <body>
    <div class="center">
      <h1>Signup</h1>
         
       <form method="post">

         <div class="txt_field">
            <input id="roll-el" type="text" required>
            <span></span>
            <label>Roll Number</label>
         </div>
        <div class="txt_field">
          <input id="email-el" type="text"required>
          <span></span>
          <label>Email</label>
        </div>
        <div class="txt_field">
          <input id="password-el" type="text" required>
          <span></span>
          <label>Password</label>
        </div>
         <div class="txt_field">
          <input id="confirmPassword-el" type="text" required>
          <span></span>
          <label>Confirm Password</label>
        </div>
        <div class="signup_link">
          <select class="signup_link" aria-label="Default select example">
       
           <option Selected value="1">Student</option>
  
           </select>
        </div>
       
        <input id="submit-el" type="submit" value="Create">
    
      </form>
         <script src="/js/accCreate.js"></script>
      
    </div>

  </body>
</html>